@using ModelsDAL
@using MyWebApplication.Extensions
@model IEnumerable<ModelsDAL.Folder>

@{
    var parent = ViewData["Parent"] as Folder;
    var isRootFolder = Convert.ToBoolean(ViewData["IsRootFolder"] ?? true);
}

    <table class="table">
        <tr>
            <th>
                @Html.SortLink("Название", "FolderName", "Index", "Folder", null)
                @*@Html.DisplayNameFor(model => model.FolderName)*@
            </th>
            <th>
                @Html.SortLink("Дата создания", "CreationDate", "Index", "Folder", null)
            </th>
            <th>
                @Html.SortLink("Автор", "CreationAuthor", "Index", "Folder", null)
            </th>
            <th>
                @Html.SortLink("Тип", "DocumentType", "Index", "Folder", null)
            </th>
            <th></th>
            <th></th>
        </tr>

        @if (!isRootFolder)
        {
            <tr>
                <td>
                    @Html.ActionLink("\\...", "Index", new { parent = parent != null ? parent.Id : (long?)null }, null)
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }

        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                    @Html.DisplayFor(modelItem => item.FolderName)
                </td>*@
                <td>@if (item is Document)
                    {
                        @Html.DisplayFor(modelItem => item.FolderName);
                    }
                    else
                    {
                        @Html.ActionLink(item.FolderName, "Index", new { parent = item.Id });
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationAuthor.UserName)
                </td>
                <td>
                    @Html.Encode(item is Document ? (item as Document).DocumentType : "") 
                </td>
                <td>
                    @if (item as Document != null)
                    {
                        @Html.ActionLink("Скачать", "Download", "BinaryFile", new { id = (item as Document).DocumentFile.Id }, null)
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>