@model MyWebApplication.Models.ReportModel

@{
    ViewBag.Title = "Отчет";
}

<h2>Отчет</h2>

<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
             <div class="form-group">
                @Html.LabelFor(model => model.DateFrom, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DateFrom, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DateFrom, "", new { @class = "text-danger" })
                </div>
              </div>
              <div class="form-group">
                @Html.LabelFor(model => model.DateTo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DateTo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DateTo, "", new { @class = "text-danger" })
                </div>
              </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Сформировать" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
   

    <table class="table">
        <tr>
            <td>@Html.DisplayNameFor(model => model.FolderCount)</td>
            <td>@Html.DisplayFor(model => model.FolderCount)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.DocumentCount)</td>
            <td>@Html.DisplayFor(model => model.DocumentCount)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.DocumentTotalSize)</td>
            <td>@Html.DisplayFor(model => model.DocumentTotalSize)</td>
        </tr>
    </table>
    @*<dl class="dl-horizontal" width>
            <dt> @Html.DisplayNameFor(model => model.FolderCount) </dt>
            <dd> @Html.DisplayFor(model => model.FolderCount) </dd>
            <dt> @Html.DisplayNameFor(model => model.DocumentCount) </dt>
            <dd> @Html.DisplayFor(model => model.DocumentCount) </dd>
            <dt> @Html.DisplayNameFor(model => model.DocumentTotalSize) </dt>
            <dd> @Html.DisplayFor(model => model.DocumentTotalSize) </dd>
        </dl>*@
</div>

<div>
    @Html.ActionLink("Back to Home", "Index", "Home")
</div>
